.Home-nav-list .btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home-nav-list .btn span{
  display: flex;
  margin: 0 2px;
}

@media screen and (max-width: 768px) {
  .Home-nav-list a{
    margin: 2px 0;
  }
  .Home-nav-list{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  .Home-nav-list .btn{
    width: 40%;
  }
}