
body{
  height: 100vh;
  width: 100%;
  background-image: url("../Images/backg.jpg");
  background-size: cover;
  background-position: center;
}
.Home-nav-list .btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home-nav-list .btn span{
  display: flex;
  margin: 0 2px;
}

@media screen and (max-width: 768px) {
  .Home-nav-list a{
    margin: 2px 0;
  }
  .Home-nav-list{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  .Home-nav-list .btn{
    width: 40%;
  }
}
/* .Home .Home_slider{
  height: 20rem;
  width: 30rem;
} 
.carousel-inner .carousel-item img{
  width: 30rem;
  background-size: cover;
  background-position: center;
} */